/*layout-nav*/
.nav_bg{
    background-color: cornflowerblue;
}
.nav-item{
    text-align: center;
}
.nav_text{
    font-family: 'Gill Sans', sans-serif;
    font-size: 35px;
    font-weight: 600;
}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-menu a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-menu {
    display: block;
  }
/*homepage*/
.text_center{
    text-align: center;
}
#home_title{
    color:#666666;
    font-family: system-ui;;
    font-weight: 800;
    font-size: 33px;
}
#home_content{
    color:#666666;
    font-family: system-ui;;
    font-size: 30px;
}
#home_start{
    color:whitesmoke;
    font-family: system-ui;;
    font-size: 30px;
    background-color: cornflowerblue;
    border-radius: 8px;
    border: 1px solid cornflowerblue;
}
  