{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'body.js') }}"></script>
<nav class="navbar navbar-expand-lg navbar-light nav_bg">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav col">
        <li class="nav-item active col-2 ">
          <a class="nav-link text-light nav_text" href="/">HOME</a>
        </li>
        <li class="nav-item active col-2 choose-color">
          <a class="nav-link text-light nav_text" href="/body">BODY</a>
        </li>
        <li class="nav-item active col-2">
          <a class="nav-link text-light nav_text" href="/tails">TAILS</a>
        </li>
        <li class="nav-item active col-3">
          <a class="nav-link text-light nav_text" href="/earsandeyes">EARS & EYES</a>
        </li>
        <li class="nav-item dropdown col-3">
          <a class="nav-link dropdown-toggle text-light nav_text" href="/quiz" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            QUIZ
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/quiz/1">
              Q1 - Quiz
              <div class="progress" id="quiz_1_progress">
                {% if progress.quiz_1_progress.save %}
                 {% if progress.quiz_1_progress.user_score==1 %}
                 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3mYBIRnyLDSh0OYf4pS2fd0xid0HVP81NysKqcOYPg0FOth7K7VUNpxmtJ_cyV8NQAaA&usqp=CAU" width="100%">
                 {% else %}
                 <img src="https://us.123rf.com/450wm/vectora/vectora1704/vectora170401047/75817847-red-cross-symbol-icon-as-delete-remove-fail-failure-or-incorrect-answer-icon.jpg" width="100%">
                 {% endif %}
                {% endif %}
              </div>
            </a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="/quiz/2">
              Q2 - Quiz
              <div class="progress" id="quiz_2_progress">
                {% if progress.quiz_2_progress.save %}
                 {% if progress.quiz_2_progress.user_score==1 %}
                 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3mYBIRnyLDSh0OYf4pS2fd0xid0HVP81NysKqcOYPg0FOth7K7VUNpxmtJ_cyV8NQAaA&usqp=CAU" width="100%">
                 {% else %}
                 <img src="https://us.123rf.com/450wm/vectora/vectora1704/vectora170401047/75817847-red-cross-symbol-icon-as-delete-remove-fail-failure-or-incorrect-answer-icon.jpg" width="100%">
                 {% endif %}
                {% endif %}
              </div>
            </a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="/quiz/3">
              Q3 - Quiz
              <div class="progress" id="quiz_3_progress">
                {% if progress.quiz_3_progress.save %}
                 {% if progress.quiz_3_progress.user_score==1 %}
                 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3mYBIRnyLDSh0OYf4pS2fd0xid0HVP81NysKqcOYPg0FOth7K7VUNpxmtJ_cyV8NQAaA&usqp=CAU" width="100%">
                 {% else %}
                 <img src="https://us.123rf.com/450wm/vectora/vectora1704/vectora170401047/75817847-red-cross-symbol-icon-as-delete-remove-fail-failure-or-incorrect-answer-icon.jpg" width="100%">
                 {% endif %}
                {% endif %}
              </div>
            </a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="/quiz/4">
              Q4 - Quiz
              <div class="progress" id="quiz_4_progress">
                {% if progress.quiz_4_progress.save %}
                 {% if progress.quiz_4_progress.user_score==1 %}
                 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3mYBIRnyLDSh0OYf4pS2fd0xid0HVP81NysKqcOYPg0FOth7K7VUNpxmtJ_cyV8NQAaA&usqp=CAU" width="100%">
                 {% else %}
                 <img src="https://us.123rf.com/450wm/vectora/vectora1704/vectora170401047/75817847-red-cross-symbol-icon-as-delete-remove-fail-failure-or-incorrect-answer-icon.jpg" width="100%">
                 {% endif %}
                {% endif %}
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/result">Result</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
<br>
<div class="row">
    <div class="col">
        <span id="body_title">BODY SHAPE & POSTURE</span>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col" id="body_content">
        {% for point in data %}
            <div class="row">
                <div class="col-1"></div>
                <div class="col-4 body_pic text_center"><img class="body_image" src="{{point.src}}" alt="{{point.id}}"></div>
                <div class="col-6 body_description">
                    <div class="text">
                        <div class="body_item_title">{{point.id}}</div>
                        <div>
                            {% for word in point.description %}
                            {% if loop.first%}
                            <span style="font-weight:bold">{{word}}</span>
                            {% else %}
                            <span style="font-weight:400">{{word}}</span>
                            {% endif %}
                            {% endfor %}
                        </div>

                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <br>
            <br>
        {% endfor %}
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <i class="arrow left"></i><button class="previous">Prev</button>
    </div>
    <div class="col-10"></div>
    <div class="col">
        <button class="next">Next</button><i class="arrow right"></i>
    </div>
</div>
<br>

{% endblock %}