{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'earsAndeyes.js') }}"></script>
<nav class="navbar navbar-expand-lg navbar-light nav_bg">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav col">
        <li class="nav-item active col-2 ">
          <a class="nav-link text-light nav_text" href="/">HOME</a>
        </li>
        <li class="nav-item active col-2">
          <a class="nav-link text-light nav_text" href="/body">BODY</a>
        </li>
        <li class="nav-item active col-2">
          <a class="nav-link text-light nav_text" href="/tails">TAILS</a>
        </li>
        <li class="nav-item active col-3 choose-color">
          <a class="nav-link text-light nav_text" href="/earsandeyes">EARS & EYES</a>
        </li>
        <li class="nav-item dropdown col-3">
          <a class="nav-link dropdown-toggle text-light nav_text" href="/quiz" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            QUIZ
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/quiz/1">Body - Quiz</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/quiz/3">Tails - Quiz</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/quiz/4">Ears and Eyes - Quiz</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/result">Result</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
<br>
<div class="row">
    <div class="col">
        <span id="body_title">EARS & EYES</span>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col" id="body_content">
        {% for point in data %}
            <div class="row">
                <div class="col-1"></div>
                <div class="col-4 body_pic text_center"><img class="body_image" src="{{point.src}}" alt="{{point.id}}_tail"></div>
                <div class="col-6 body_description">
                    <div class="text">
                        <div class="body_item_title">{{point.id}}</div>
                        <div>
                            <ul>
                            {% for key, val in point.description.items() %}
                                <li><span style="font-weight:800">{{key}}: </span><span>{{val}}</span></li>
                            {% endfor %}
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <br>
            <br>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col">
        <i class="arrow left"></i><button class="previous">Prev</button>
    </div>
    <div class="col-10"></div>
    <div class="col">
        <button class="next">Next</button><i class="arrow right"></i>
    </div>
</div>
<br>

{% endblock %}