<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="icon" href="data:,">

<!-- jquery -->
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">


  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">



    <title>People</title>
  </head>
  <body>
    

    
<nav class="navbar navbar-expand-lg navbar-light nav_bg">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav col">
        <li class="nav-item active col-2">
          <a class="nav-link text-light nav_text" href="/">HOME</a>
        </li>
        <li class="nav-item active col-2">
          <a class="nav-link text-light nav_text" href="/body">BODY</a>
        </li>
        <li class="nav-item active col-2">
          <a class="nav-link text-light nav_text" href="/tails">TAILS</a>
        </li>
        <li class="nav-item active col-3">
          <a class="nav-link text-light nav_text" href="/earsandeyes">EARS & EYES</a>
        </li>
        <li class="nav-item dropdown col-3">
          <a class="nav-link dropdown-toggle text-light nav_text" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            QUIZ
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Body - Quiz</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Tails - Quiz</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Ears and Eyes - Quiz</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

    <div class="container">   
        {% block content %}
        {% endblock %}
    </div>

  </body>
</html>




