{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'quiz_start.js') }}"></script>

<nav class="navbar navbar-expand-lg navbar-light nav_bg">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav col">
        <li class="nav-item active col-2">
          <a class="nav-link text-light nav_text" href="/">HOME</a>
        </li>
        <li class="nav-item active col-2">
          <a class="nav-link text-light nav_text" href="/body">BODY</a>
        </li>
        <li class="nav-item active col-2">
          <a class="nav-link text-light nav_text" href="/tails">TAILS</a>
        </li>
        <li class="nav-item active col-3">
          <a class="nav-link text-light nav_text" href="/earsandeyes">EARS & EYES</a>
        </li>
        <li class="nav-item dropdown col-3 choose-color">
          <a class="nav-link dropdown-toggle text-light nav_text" href="/quiz" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            QUIZ
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/quiz/1">Body - Quiz</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/quiz/3">Tails - Quiz</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/quiz/4">Ears and Eyes - Quiz</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/result">Result</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<br>
<br>
<div class="row">
    <div class="col">
        <span id="quiz_title">Quiz</span>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-3"></div>
    <div class="col-5 quiz_start">
        <div>Congradulations!</div>
        <br>
        <div>You have finished all topics of cat's body languages.</div>
    </div>
    <div class="col-3"></div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-7 quiz_start"><img src="https://www.humanesociety.org/sites/default/files/styles/1240x698/public/2020-07/kitten-510651.jpg?h=f54c7448&itok=ZhplzyJ9" width="100%"></div>
    <div class="col-3"></div>
</div>
<br>
<div class="row">
    <div class="col-2"></div>
    <div class="col-7 quiz_start">
        <button class="start_quiz_btn">Start Quiz</button>
    </div>
    <div class="col-3"></div>
</div>


<br>

{% endblock %}